@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body{
  margin:30px 60px;
}

.card-container{
  /* border:2px solid green; */
  margin: 10px 10px
}
